<!DOCTYPE html>
<html>
    <head>
        <title>Sanji's blog</title>
    </head>
    <body>
        <header>
            <h3><a href="/">Sanji, the minishephard's blog</a></h3>
        </header>

        <article>
            <time>published: 11.06.2025, 12:14</time>
            <h4><a href="">My first pawst</a></h4>
            <p>I had a great walk this morning. Lot's of new <strong>smell</strong> and I got to play fetch. <strong>ruff! ruff!</strong></p>
        </article>

        <article>
            <time>published: 11.06.2025, 19:14</time>
            <h4><a href="">My second pawst</a></h4>
            <p>A very pawsitive day so far. Time for a quick run outside before bed. <strong>ruff!</strong></p>
        </article>
    </body>
</html>